

#sb{
    background:#8f2950;
    height: 500px;
    width: 100%;

}
#sa{
    margin-left:30% ;
    margin-top: 10%;
}
button{
    margin-left:50px;
    border-radius:3px;
    color:black;
    background-color:pink;

      
}
.container{
    margin-top:5%;
}