*{
	margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: serif;
}
.clear{clear: both}
body{
	background-color: lightblue;
	background-color:  #e6f5ff;
	background-color: #fbd3db;
}
a{
	text-decoration:none;
}
ul{
	list-style-type: none;
	margin-left: ;
	

	

}
.navList{
  height: 100px;
  margin-left: 75%;
}
li{
	float: left;
	padding: 40px 15px;
	font-size: 1.4em;
}
img{
	
}
.logo{
	float:left;
}
.navLink{
	color: #e9a0a2;
	color: #e08c9b;
	font-weight: bold;
}
.video{
  height: 300px;
  width: 50%;
  margin: auto;
}
iframe{
	display: block;
	margin: auto;
	width: 100%;height: 100%;
}
p{
	color: #e9a0a2;
	color: #e08c9b;
	margin: auto;
	text-align: center;
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 5%;
	margin-bottom: 10px;
}
.container{
	height: 500px;
	margin-top: 5%;
}
.nutration,.exercise,.baby{
	float: left;
	height: 90%;
	margin-left: 2.5%;
	width: 30%; 
	background-color:#ff80ff;
	background-color:#e08c9b;
	font-size: 1.2rem;
	display: none;
}
h1{
	color: #e9a0a2;
	color: #e08c9b;
	float: left;
 

}
.link1{
    margin-left:12%;
    cursor: pointer;
}
.link2{
    margin-left:26%; 
    cursor: pointer;
}
.link3{
     margin-left: 27%;
     cursor: pointer;
}
.foot{
	background-color: ;
}