
.wht{
  color: white;
}

.taslek{
  padding-top: 10%
}

.list-inline-item a{
  color: #91224C;
}

html{width:100%;}
body {
  overflow-x: hidden;
  width:100%;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  margin-top: 126px;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

  nav{
  background-color: #91224C;
}
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link{
  color: white;
}
.exercises-content{
  margin-top: 126px;
  padding:20px;
  font-size: 1.2em;
}
.exercisesoverview{
  margin-top: 126px;
  padding:20px;
  font-size: 1.5em;
}

#exercising{
     height: 20%;
     padding: 5%;
     padding-right: 10%;
     padding-left: 10%;
  }

#makeitpink{
  color: pink;
  width:auto;
}
